.panel.panel-yellow
  .panel-heading
    h3.panel-title Lawyers List
  .panel-body
    .col-md-12
      br
      .col-sm-12.title-header
        = link_to 'Create Lawyer', new_lawyer_path, class: 'btn btn-warning pull-right'
      br
      br
      br
      .col-sm-12
        .row
          table.table.table-hovered
            thead
              tr.warning
                th Name
                th Initials
                th Position
                th Email
                th Action
            tbody
            - @lawyers.each do |lawyer|
              tr
                td= lawyer.full_name
                td= lawyer.initials
                td= lawyer.position
                td= lawyer.email
                td 
                  = link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_lawyer_path(lawyer), class: 'btn btn-xs btn-warning',"data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Edit"
                  '&nbsp
                  = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, lawyer_path(lawyer), method: :delete, 'data-confirm' => 'Are you sure you want to delete this lawyer?', class: 'btn btn-xs btn-danger'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"
          div.pull-right.apple_pagination.col-sm-12
            = will_paginate @users