tr.nested-fields
	td= f.text_field :entry_date, class: 'form-control datepicker2'
	td= f.text_field :check_num, class: 'form-control'
	td= f.text_field :particular, class: 'form-control'
	td= f.text_field :amount, class: 'form-control'
	td= link_to_remove_association "<i class='glyphicon glyphicon-trash'></i>".html_safe, f, class: "btn btn-danger btn-mini"
javascript:
  $(document).ready(function(){
    $('.datepicker2').datepicker();
  });
