= form_for @carl_entry, html: { class: '' } do |f|
  .col-md-4.signin-form
    .form-group
      = f.label :client_name, 'Client Name'
      = f.text_field :client_name, class: 'form-control '
    .form-group
      = f.label :address, "Address"
      = f.text_area :address, class: 'form-control', rows: 5, style:"resize: none;"
  .col-md-4.signin-form
    .form-group
      = f.label :bus_name_style, 'Bus Name/Style'
      = f.text_field :bus_name_style, class: 'form-control '
    .form-group
      = f.label :terms_of_payment, 'Terms of Payment'
      = f.text_field :terms_of_payment, class: 'form-control '
    .form-group
      = f.label :osc_pwd_id_no, 'OSCA/PWD Id No.'
      = f.text_field :osc_pwd_id_no, class: 'form-control '
  .col-md-4.signin-form
    .form-group
      = f.label 'Category'
      = f.select :category_id, Category.all.map{ |e| [e.name, e.id] }, {include_blank: true }, class: 'form-control '
    .form-group
      = f.label :tin_of_client, 'TIN Of CLient'
      = f.text_field :tin_of_client, class: 'form-control '
    .form-group
      = f.label :entry_date, 'Date'
      = f.text_field :entry_date, class: 'form-control datepicker'
    
  .col-md-10.signin-form
    = link_to_add_association "<i class='fa fa-plus'></i> Add Entry".html_safe, f, :carl_fields, class: 'btn btn-success', 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#team-members-body'
  .col-md-12.signin-form
    br  
    table.table.table-bordered.table-hover
      thead
        tr
          th width="10%" Entry Date
          th width="10%" Check #
          th width="60%" Particulars
          th width="10%" Amount
          th width="10%" Action
      tbody id="team-members-body"
        = f.fields_for :carl_fields do |cf|
          = render 'carl_field_fields', :f => cf
  .col-md-12.signin-form
    div
      = f.submit "Save", class: 'pull-right btn btn-primary btn'

javascript:
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
/ css:
/   .container{
/     min-height: 100%;
/   }
/   .show_off{
/     display:none;
/   }
