.panel.panel-yellow
  .panel-heading
    h3.panel-title Cash Advance, Reimbursement and Loan List
  .panel-body
    .col-md-12
      br
      .col-sm-12.title-header
        = link_to 'Create New Entry', new_carl_entry_path, class: 'btn btn-warning pull-right'
      br
      br
      br
      .col-sm-12
        .row
          table.table.table-hovered
            thead
              tr.warning
                th Entry Date
                th Transaction Type
                th Assigned User
                th File Reference No.
                th Client
                th Action
            tbody
            - @carl_entries.each do |carl_entry|
              tr
                td= carl_entry.entry_date
                td= carl_entry.category_id.nil? ? '' : carl_entry.category.name
                td= carl_entry.assigned_person
                td= carl_entry.case_reference_number
                td= carl_entry.client_name
                td 
                  = link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_carl_entry_path(carl_entry), class: 'btn btn-xs btn-warning',"data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Edit"
                  '&nbsp
                  = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, carl_entry_path(carl_entry), method: :delete, 'data-confirm' => 'Are you sure you want to delete this carl_entr?', class: 'btn btn-xs btn-danger'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"
                  '&nbsp
                  = link_to "<i class='glyphicon glyphicon-file'></i>".html_safe, carl_entry_path(carl_entry), class: 'btn btn-xs btn-info'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"
