.panel.panel-warning
  .panel-heading
    h3.panel-title Show Entry
  .panel-body
  	.col-sm-12
			= link_to "Print to PDF".html_safe, carl_entry_path(:id => params[:id], :format => 'pdf'), class: 'btn btn-small btn-primary pull-right', id:"generate-report", target: "_blank"
  	.col-sm-12
  		br
  	.col-sm-12
  	  table.table.table-bordered
  	  	tr
  	  		td.bold Client Name
  	  		td = @carl_entry.client_name
  	  		td.bold Bus Name/Style
  	  		td = @carl_entry.bus_name_style
  	  	tr
  	  		td.bold Terms of Payment
  	  		td = @carl_entry.terms_of_payment
  	  		td.bold OSCA/PWD Id No.
  	  		td = @carl_entry.osc_pwd_id_no
  	  	tr
  	  		td.bold Category
  	  		td = @carl_entry.category.name
  	  		td.bold TIN Of CLient
  	  		td = @carl_entry.tin_of_client
  	  	tr
  	  		td.bold Address
  	  		td = @carl_entry.address
  	  		td.bold Date
  	  		td = @carl_entry.entry_date
  	  
  	  table.table.table-bordered
  	  	thead
  	  		th width="10%" Entry Date
  	  		th width="10%" Check #
  	  		th width="60%" Particulars
  	  		th width="10%" Amount
        tbody
          - @total_amount = []
          - @carl_fields.each do |cf|
          	tr
          		td= cf.entry_date
          		td= cf.check_num
          		td= cf.particular
          		td= number_to_currency(cf.amount, :unit => "")
          		- @total_amount << cf.amount
        tfoot	
        	tr
        	  td colspan="3"
        	  td = number_to_currency(@total_amount.inject(:+).to_f, :unit => "Php ")


