= wicked_pdf_stylesheet_link_tag "application"
br
br
.col-sm-12
  table.table.table-bordered
    tr
      td.bold Client Name
      td = @carl_entry.client_name
      td.bold Bus Name/Style
      td = @carl_entry.bus_name_style
    tr
      td.bold Terms of Payment
      td = @carl_entry.terms_of_payment
      td.bold OSCA/PWD Id No.
      td = @carl_entry.osc_pwd_id_no
    tr
      td.bold Category
      td = @carl_entry.category.name
      td.bold TIN Of CLient
      td = @carl_entry.tin_of_client
    tr
      td.bold Address
      td = @carl_entry.address
      td.bold Date
      td = @carl_entry.entry_date
  
  table.table.table-bordered
    thead
      th width="10%" Entry Date
      th width="10%" Check #
      th width="60%" Particulars
      th width="10%" Amount
    tbody
      - @total_amount = []
      - @carl_fields.each do |cf|
        tr
          td= cf.entry_date
          td= cf.check_num
          td= cf.particular
          td= number_to_currency(cf.amount, :unit => "")
          - @total_amount << cf.amount
    tfoot 
      tr
        td colspan="3"
        td = number_to_currency(@total_amount.inject(:+).to_f, :unit => "Php ")
css:      
  .form-group > .col-md-3{
    text-align: right;
  }	
  td{
    font-size: 10px;
  }
  .sm_font {
    font-size: 9px;
  }
  / .borderless tbody tr td, .borderless thead tr th {
  /   border: none;
  / }
  .vcenter td {
    vertical-align: middle!important;
  }
      