.panel.panel-yellow
  .panel-heading
    h3.panel-title Client List
  .panel-body
    .col-md-12
      br
      .col-sm-12.title-header
        = link_to 'Create Client', new_client_path, class: 'btn btn-warning pull-right'
      br
      br
      br
      .col-sm-12
        .row
        = search_form_for @q do |f|
          table.table.table-hovered
            thead
              tr.warning
                th.graycolor = sort_link(@q, :name, 'Client Name', default: :desc)
                th Action
              tr
                td = f.search_field :name_cont, class: 'form-control'
                td
                  input.btn.btn-primary type="submit" value="Search" icon="ok"
            tbody
            - @clients.each do |client|
              tr
                td= client.name
                td 
                  = link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_client_path(client), class: 'btn btn-xs btn-warning',"data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Edit"
                  '&nbsp
                  = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, client_path(client), method: :delete, 'data-confirm' => 'Are you sure you want to delete this client?', class: 'btn btn-xs btn-danger'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"
          div.pull-right.apple_pagination.col-sm-12
            = will_paginate @users