
= form_for [:account, @user ], html: { class: '' } do |f|
  .col-md-5.signin-form
    .form-group
      = f.label :name, 'Name'
      = f.text_field :name, class: 'form-control '
    .form-group
      = f.label :contact_number, 'Contact Number'
      = f.text_field :contact_number, class: 'form-control '
    .form-group
      = f.label :address, "Address"
      = f.text_area :address, class: 'form-control', rows: 5, style:"resize: none;"
  .col-md-5.signin-form
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control validate[custom[email]]'
    / .form-group
    /   = f.label :username, 'User Name'
    /   = f.text_field :username, class: 'form-control validate[maxSize[15],minSize[5]]'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, 'Password Confirmation'
      = f.password_field :password_confirmation, class: 'form-control '
  .col-md-10.signin-form
    div
      = f.submit "Save", class: 'pull-right btn btn-primary btn'
css:
  .container{
    min-height: 100%;
  }
  .show_off{
    display:none;
  }
  


/ dropdown_values, {include_blank: true, selected: @item.source_of_funds_id},