.panel.panel-yellow
  .panel-heading
    h3.panel-title User List
  .panel-body
    .col-md-12
      br
      .col-sm-12.title-header
        = link_to 'Create User', new_account_user_path, class: 'btn btn-warning pull-right'
      br
      br
      br
      .col-sm-12 
        .row
        = search_form_for [:account, @q] do |f|
          table.table.table-hovered
            thead
              tr.warning
                th.graycolor = sort_link(@q, :name, 'Name', default: :desc)
                th.graycolor = sort_link(@q, :email, 'Email', default: :desc)
                th Action
              tr
                td = f.search_field :name_cont, class: 'form-control'
                td = f.search_field :email_cont, class: 'form-control'
                td
                  input.btn.btn-primary type="submit" value="Search" icon="ok"
            tbody
            - @users.each do |user|
              tr
                td= user.name
                td= user.email
                td 
                  = link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_account_user_path(user), class: 'btn btn-xs btn-warning',"data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Edit"
                  '&nbsp
                  = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, account_user_path(user), method: :delete, 'data-confirm' => 'Are you sure you want to delete this user?', class: 'btn btn-xs btn-danger'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"

          div.pull-right.apple_pagination.col-sm-12
            = will_paginate @users