tr.nested-fields
	td= f.select :lawyer_id, Lawyer.all.map{ |e| [e.full_name, e.id] }, {include_blank: true }, class: 'form-control '
	td= f.text_field :amount, class: 'form-control'
	td= f.text_field :file_matter_pricing, class: 'form-control'
	td= link_to_remove_association "<i class='glyphicon glyphicon-trash'></i>".html_safe, f, class: "btn btn-danger btn-mini"