
= form_for @file_matter, html: { class: '' } do |f|
  .col-md-5.signin-form
    .form-group
      = f.label :year, 'Year'
      = f.text_field :year, class: 'form-control '
    .form-group
      = f.label :file_code, 'File Reference No.'
      = f.text_field :file_code, class: 'form-control '
    .form-group
      = f.label :title, "Case Title"
      = f.text_area :title, class: 'form-control', rows: 5, style:"resize: none;"
  .col-md-5.signin-form
    .form-group
      = f.label 'Client'
      / = f.select :client_id, Client.all.map{ |e| [e.name, e.id] }, {include_blank: true }, class: 'form-control '
      = f.autocomplete_field :client_id, autocomplete_client_name_file_matters_path, class: 'form-control'
    .form-group
      = f.label :case_date, 'Date Open'
      = f.text_field :case_date, class: 'form-control '
    .form-group
      = f.label :case_number, 'Case No.'
      = f.text_field :case_number, class: 'form-control '
    .form-group
      = f.label :currency_used, 'Currency'
      = f.text_field :currency_used, class: 'form-control '
  .col-md-10.signin-form
    .form-group
      = link_to_add_association "<i class='fa fa-plus'></i>Add Lawyer".html_safe, f, :assigned_lawyers, class: 'btn btn-success', 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#team-members-body'
  .col-md-12.signin-form
    br  
    table.table.table-bordered.table-hover
      thead
        tr
          th width="40%" Lawyer Name
          th width="20%" Rate
          th width="20%" Rate per Case
          th width="20%" Action
      tbody id="team-members-body"
        = f.fields_for :assigned_lawyers do |cf|
          = render 'assigned_lawyer_fields', :f => cf
  .col-md-10.signin-form
    div
      = f.submit "Save", class: 'pull-right btn btn-primary btn'
css:
  .container{
    min-height: 100%;
  }
  .show_off{
    display:none;
  }

/ dropdown_values, {include_blank: true, selected: @item.source_of_funds_id},