.panel.panel-yellow
  .panel-heading
    h3.panel-title Case File Reference List
  .panel-body
    .col-md-12
      br
      .col-sm-12.title-header
        = link_to 'Create Case File Reference', new_file_matter_path, class: 'btn btn-warning pull-right'
      br
      br
      br
      .col-sm-12
        
        .row
          = search_form_for @q do |f|
            table.table.table-hovered
              thead
                tr.warning
                  th.graycolor width='20%' = sort_link(@q, :file_code, 'File Code', default: :desc)
                  th.graycolor width='30%' = sort_link(@q, :title, 'Case Title', default: :desc)
                  th.graycolor width='30%' = sort_link(@q, :case_number, 'Case No.', default: :desc)
                  th width='10%' Action
                tr
                  td = f.search_field :file_code_cont, class: 'form-control'
                  td = f.search_field :title_cont, class: 'form-control'
                  td = f.search_field :case_number_cont, class: 'form-control'
                  td
                    input.btn.btn-primary type="submit" value="Search" icon="ok"
              tbody
              - @file_matters.each do |file_matter|
                tr
                  / td= file_matter.year
                  td= file_matter.file_code
                  td= file_matter.title
                  td= file_matter.case_number
                  td 
                    = link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_file_matter_path(file_matter), class: 'btn btn-xs btn-warning',"data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Edit"
                    '&nbsp
                    = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, file_matter_path(file_matter), method: :delete, 'data-confirm' => 'Are you sure you want to delete this file_matter?', class: 'btn btn-xs btn-danger'," data-toggle"=> "tooltip", "data-placement" => "top", "title" => "Delete"
          div.pull-right.apple_pagination.col-sm-12
            = will_paginate @users