<%# add navigation links to this file %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to 'ENTRY FORM', carl_entries_path %>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMIN SETUP<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to 'USERS', account_users_path %>
        </li>
        <li>
          <%= link_to 'LAWYERS', lawyers_path %>

        </li>
        <!-- <li><a href="#">LAWYERS</a></li> -->
        <li>
          <%= link_to 'CLIENTS', clients_path %>
          
        </li>
        <!-- <li class="divider"></li> -->
        <li>
          <%= link_to 'CASE REFERENCES', file_matters_path %>

        </li>
        <!-- <li class="divider"></li> -->
        
      </ul>
    </li>
  </ul>
</div>